* {
  user-select: none;
}

body {
  background-color: rgb(255, 253, 235);
}

.App {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  padding: 15px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  align-items: center;
  color: rgb(255, 255, 255);
  justify-content: space-around;
  background-color: rgb(216, 237, 255);
  box-shadow: 0px 2px 2px rgb(141, 141, 129);
}

.navlink {
  margin: 5px 10px;
  text-decoration: none;
  font-size: 20px;
  color: blue;
  text-align: center;
}

.navlink:hover {
  animation: shake 100ms forwards;
}

.activeNavlink {
  margin: 5px 10px;
  color: rgb(0, 160, 0);
  transform: scale(1.15);
  pointer-events: none;
}

@keyframes shake {
  0% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(20deg);
  }
  50% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-20deg);
  }
  100% {
    transform: skew(0deg) scale(1.1);
  }
}
